.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  cursor: pointer;
}

.dropdown-content .dropdown-link {
  /*top | right | bottom | left*/
  width: 100%;
  padding: 3vh;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  /* animation: dropdown-transition 300ms ease-in-out forwards; */
  display: block;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.toolbar {
  background: #333;

  animation: 1s ease-out 0s 1 slideInFromLeft;
  /*top | right | bottom | left*/

  padding: 1.5vh 2.5vh 0 2.5vh;
  margin-bottom: -11%;
}

.toolbar-link {
  text-decoration: none;
  display: inline-block;
  margin-right: 5%;
  color: #fff;
}

.toolbar-text {
  font-size: 3vw;
}

.toolbar-text,
.toolbar-text:visited,
.toolbar-text:hover,
.toolbar-text:active {
  color: inherit;
  text-decoration: none;
}
