.center {
  text-align: center;
}
@keyframes slideInFromBelow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.projects-section {
  background-color: #0e1b3d;
  height: 100%;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .projects-section-animation {
    animation: 1s ease-in-out slideInFromBelow;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.about-me-section {
  background-color: #9ee0ce;

  animation: 1s ease-out 0s 1 slideInFromRight;
}

.about-text {
  font-size: 3vh;
  font-weight: bold;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  margin-right: 1%;
  margin-left: 1%;
}

@media screen and (min-width: 1300px) {
  .about-row {
    display: flex;
    flex: 1;
    margin-left: 3%;
    margin-bottom: 5%;
  }
}

/* @media screen and (min-width: 600px) {
  .about-me-section {
    margin-bottom: -3.7vh;
  }
}

@media screen and (max-width: 600px) {
  .about-me-section {
    margin-bottom: -3.8vh;
  }
} */
/* @media screen and (max-width: 400px) { */
.about-me-section {
  margin-bottom: -3.8vh;
}
/* } */

@keyframes slideInFromZ {
  0% {
    transform: translateZ(100%);
  }
  100% {
    transform: translateZ(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .contact-animation-section {
    animation: 1s ease-in-out slideInFromZ;
  }
}

.greeting {
  font-size: 15vw;
  margin-bottom: 0;
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
}
