.center {
  text-align: center;
}
.projects-section {
  background-color: #0e1b3d;
}

/* .page {
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
.page .section {
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}
.page .section:nth-child(1) {
  background-color: red;
}
.page .section:nth-child(2) {
  background-color: blue;
}

html,
body {
  height: 100vh;
  overflow: hidden;
} */

/* .section:nth-child(1) {
  justify-content: center;
  align-items: center;
} */

/* .page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
}


.page .section {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-blend-mode: multiply;
}

.page .section:nth-child(1) {
  background-color: grey;
  background-size: cover;
  background-attachment: fixed;
}
.page .section:nth-child(2) {
  background-color: #0384fc;
  background-size: cover;
  background-attachment: fixed;
} */

/* .page .section .content {
  bottom: 50px;
  left: 50px;
  max-width: 700px;
} */

/* .page .section .content #projects-title {
  background: #fff;
  color: #111;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  font-size: 2em;
} */
