.project-row {
  display: flex;
}

.project-item {
  flex: 1;
}

.project-title {
  white-space: initial;
  color: white;
  margin-left: 5px;
}

.project-chip {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0 15px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 15px;
  background-color: #59648f;
}

.pop-out-img {
  transition: transform 0.5s;
  opacity: 1;
}
.pop-out-img:hover {
  transform: scale(1.1);
  /* animation-name: fadeInUp; */
  transition: all 0.4s ease-in-out;
}

.project-closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
}

.project-item .regular {
  /* width: 100%; */
  /* display: inline-block; */
  /* object-fit: fill; */
  object-fit: cover;
  /* height: 100%; */
  /* aspect-ratio: 16/9; */
  /* aspect-ratio: 3; */
  /* border-radius: 10px; */
  border-style: solid;
}

.project-item .extra-tall {
  /* aspect-ratio: 0.5; */
  /* border: none; */
  object-fit: scale-down;
}

.project-item {
  margin-right: 1%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
